* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px;
  text-align: center;
}

#number {
  font-size: 15em;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
}

#person {
  animation: colorRotate 4s linear 0s infinite;
  font-size: 7em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #47c9fc;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 0.8em;
  }
}