body{
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
}

#number{
    font-size: 370px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: -10vh;
    
}

#person{
    animation: colorRotate 4s linear 0s infinite;
    font-size: 100px;
    text-align: center;
    margin-bottom: 20vh;
}

h4{
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: #47c9fc;
}

@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }

  @media  (max-width: 400px) {
    body{
      zoom: 0.7; 
      -moz-transform: scale(0.5); 
      -moz-transform-origin: 0 0;
    }
    #number{
      margin-top: 25vh;
    }
    #person{
      margin-bottom: 35vh;
    }
  }